################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs
UserDocumentApp/API.Client/bin
/UserDocumentApp/.vs
/UserDocumentApp/API.Client/obj
/UserDocumentApp/API.Client/bin
/UserDocumentApp/API.Core/obj
/UserDocumentApp/API.Core/bin
/UserDocumentApp/API.Data/obj
/UserDocumentApp/API.Data/bin
/UserDocumentApp/UserDocumentApp/obj
/UserDocumentApp/UserDocumentApp/bin
